.bigblack{
    height: 100%;
    width: 100%;
    
}
.parrafo{
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}
.sn{
    font-size: 40px;

   
}

 .foto{
        height: 50%;
        width: 50%;
    }